#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
input[type="text"] {
  width: 50px;
}
input[type="range"] {
  width: 100px;
}
label {
  white-space: nowrap;
}
#allcontrols {
  display: flex;
}
#canvasHeader {
	margin-right:2px;
}
#particlesControl,
#constraintsControl {
  background: #fff;
  padding: 2px;
  width: 400px;
}
.headerRow,
.control-box {
  padding: 2px;

}

.headerRow:not(:first-child),
.control-box {
  margin-bottom: 5px;
  background: #e9e9e9;
}
.headerRow:is(:first-child) {
	padding-bottom: 0px;
}

button {
  background-color: #5c6bc0;
  color: white;
  border: none;
  padding: 2px 5px;
  margin: 2px 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  min-width: 70px;
}
#presets {
  width: 150px;
}

button:hover {
  background-color: #3949ab;
}

.delete {
  float:right;
  min-width: 1px;
  margin-right: 2px;
}
